@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-secondary pt-16; /* Replace with the Tailwind class for your color */
    padding-top: 60px;  
}

.primary-font
{
    @apply  text-white font-main-font text-lg;
}

.button-font
{
    @apply  text-black font-main-font text-lg;
}

.header-font
{
    @apply  text-amber-200 font-main-font text-lg;
}


.navigation-bar
{
    @apply fixed top-0 left-0 w-full bg-secondary p-4 z-50;
}

.navigation-slot
{
    @apply text-white hover:text-gray-300;
}

.navigation-image
{
    @apply w-8 h-8 bg-center transform transition-transform duration-300 hover:scale-105 cursor-pointer;
}

.selection-container {
    @apply grid grid-cols-1 gap-4 items-center justify-items-center w-full max-w-screen-2xl mx-auto;
    @apply md:grid-cols-2;
}

@media (min-width: 768px) {
    .selection-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.showcase-container {
    @apply grid grid-cols-1 gap-4 items-center justify-items-center w-full max-w-screen-2xl mx-auto;
    @apply md:grid-cols-3 lg:grid-cols-3;  /* Adjust for 3 columns on large screens */
}

@media (min-width: 768px) {
    .showcase-container {
        grid-template-columns: repeat(3, 1fr);  /* Ensures 3 columns on large screens */
    }
}

.lower-bottom-right-text {
    @apply primary-font absolute right-0 bottom-4 m-4 flex items-center space-x-2;
}

.section {
    @apply w-full h-96 bg-cover bg-center my-4 transform transition-transform duration-300 hover:scale-99 rounded-lg cursor-pointer relative;
}


/* Dark overlay effect like side_section */
.section::before {
    content: '';
    @apply absolute inset-0 bg-black opacity-0 transition-opacity duration-300 rounded-lg;
}

.section:hover::before {
    @apply opacity-75;
}

.side_section {
    @apply w-full h-96 bg-cover bg-center my-4 transform transition-transform duration-300 hover:scale-99 rounded-lg cursor-pointer relative;
}

.side_section::before {
    content: '';
    @apply absolute inset-0 bg-black opacity-0 transition-opacity duration-300 rounded-lg;
}

.side_section:hover::before {
    @apply opacity-75;
}

.upper-left-text
{
    @apply primary-font absolute top-0 left-0 m-4;
}

.lower-upper-left-text
{
    @apply primary-font absolute left-0 m-4 top-16 font-light !text-amber-200;
}

.side-project-text {
    @apply primary-font absolute left-0 m-4 top-28 font-light !text-amber-200 opacity-0 transition-opacity duration-300;
}

.side_section:hover .side-project-text {
    @apply opacity-100;
}

.lower-bottom-left-text {
    @apply primary-font absolute left-0 bottom-4 m-4 font-light !text-amber-200;
}


.section-information
{
    @apply w-full h-full bg-cover bg-center scroll-mb-3 bg-primary py-20 drop-shadow-xl;
}

.portrait
{
    @apply w-1/2 h-auto rounded-full mx-60;
}

.youtube-video
{
    @apply w-[100%] aspect-video my-8 mx-auto;
    @apply w-[55%]
}

.tab-button {
    @apply px-6 py-3 rounded-lg focus:outline-none ;
}

.tab-button {
    @apply px-6 py-3 rounded-lg focus:outline-none hover:bg-black hover:text-white transition-all duration-200;
}

